# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dyld
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Misc ignore files
*.pyc
.DS_Store
refman.rst
OpenCV4Tegra/
*.user
.sw[a-z]
.*.swp
tags

## Files left around after merging
*.orig
